* {
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
}

html,
body {
    background-color: #fedcc8;
}

.parallax {
    perspective: 100px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    margin-left: -1500px;
}

.parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.parallax__layer img {
    display: block;
    position: absolute;
    bottom: 0;
}

.parallax__cover {
    background: #151c30;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 2;
}

.parallax__layer__0 {
    transform: translate3d(44rem, 37rem, -11rem) scale(2.5);
}

.parallax__layer__1 {
    transform: translate3d(54rem, -24rem, -12rem) scale(2);
}

.parallax__layer__2 {
    transform: translate3d(47rem, 6rem, -9rem) scale(1.5);
}

.parallax__layer__3 {
    transform: translate3d(17.5rem, 8rem, -1.2rem) scale(1);
}
